.Container {
  display: flex;
  flex-direction: column;
  background-image: url(../../assets/Img_1.png);
  background-size: 100%;
  background-size: cover;
  padding: 4rem 0 6rem 5rem;
}

.Container .content {
  display: flex;
  flex-direction: column;
  color: #fff;
  gap: 1rem;
  width: 35rem;
}

.Container .content h1 {
  font-size: 6rem;
  font-family: "Fredoka", sans-serif;
  font-weight: 500;
  line-height: 5rem;
}

.Container .content p {
  font-size: 2rem;
}

.Container .content button {
  width: fit-content;
  padding: 0.675rem 0.8rem 1rem;
  border: none;
  border-radius: 15px;
  background-color: #09824cc2;
  color: #fff;
  font-size: 1.675rem;
  font-weight: 500;
  cursor: pointer;
}
