.Container {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  align-items: center;
}

.Container > h1 {
  font-size: 2rem;
}

.Container .content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.Container .content .box {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 33%;
  text-align: center;
}

.Container .content .box :first-child {
  margin-bottom: 2rem;
}

.Container .content .box h1,
p {
  font-size: 1.25rem;
}
